
.result-container {
    position: relative;
    max-width: 800px;
    width: 500px;
    height: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
    box-shadow: 1px 2px 5px 5px;

    background: url('/public/result2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: brightness(1.5);

}
.buttons{
  position: absolute;
  bottom: 10px;
  
    
}
.buttons button{
    background-color: #007bff;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 5px 5px 2px;
    font-weight: 900;
    font-size: 13px;
    margin: 1px 20px;
      transition: 1s;
}
.buttons button:hover{
background-color: darkblue;

}
#score {
    color: black;
    font-weight: 900;
    font-family: algerian;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px 20px black;

}

#points {
    color: black;
    font-size: 30px;
}

#outof {
    color: black;
    font-size: 28px;
}

.result-content {
    position: relative;
    z-index: 1;
    animation: fadeIn 1s ease-in-out;

    font-size: 8px;
    width: 100%;

}

@media(max-width:580px) {
    .result-container {
        max-width: 380px;
        max-height: 500px;
        margin: auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 10;
    }
}